<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e012a38-9111-4ec5-9c3d-0a21d4e532e8" Alias="Home Page -  - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page -  - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fd666cbe-9841-4246-8055-ec0d738783bc",
      "label": "test"
    }
  ]
}]]></Config>
</DataType>