<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a02cf79-cb7a-47c6-893d-8ee31acd5f79" Alias="Services - Blocks" Level="1">
  <Info>
    <Name>Services - Blocks</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ed1ecd16-0c6b-4396-91ef-c6fe23d1bdce",
      "allowAtRoot": true
    }
  ],
  "gridColumns": 12,
  "validationLimit": {
    "min": 1
  }
}]]></Config>
</DataType>