#section-about-us {
  background-color: #F7F7F7;
  padding: 3rem 0rem;
}
#section-about-us .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#section-about-us .content h1 {
  color: #4F5955;
  font-weight: 700;
}
#section-about-us .content .navigation-container {
  display: flex;
  gap: 0.8rem;
}
#section-about-us .content .navigation-container a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}
#section-about-us .content .navigation-container a:hover {
  cursor: pointer;
  text-decoration: underline;
}
#section-about-us .content .navigation-container #arrow {
  color: black;
}
#section-about-us .content .navigation-container p {
  font-weight: 600;
  color: #D9C3A9;
}

#section-summery {
  padding: 5rem 0rem;
}
#section-summery div {
  display: flex;
  gap: 2rem;
}
#section-summery div .summery-image {
  flex-direction: column;
  gap: 0.5rem;
}
#section-summery div .summery-image span {
  font-style: italic;
  font-size: 1.15rem;
  color: #4F5955;
}
#section-summery div .summery-text {
  display: flex;
  flex-direction: column;
  color: #535656;
  gap: 0;
}
#section-summery div .summery-text .quote {
  font-style: italic;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
#section-summery div .summery-text .text {
  margin-bottom: 1.25rem;
}
#section-summery div .summery-text .text:last-child {
  margin-bottom: 0rem;
}

#section-trusted .content {
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
}
#section-trusted .content .trusted-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}
#section-trusted .content .trusted-text .inner-content {
  width: 80%;
}
#section-trusted .content .trusted-text .inner-content .title {
  color: #D9C3A9;
  font-weight: 500;
  font-size: 1rem;
}
#section-trusted .content .trusted-text .inner-content h2 {
  font-weight: 700;
  color: #4F5955;
  width: 460px;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 2.5rem;
}
#section-trusted .content .trusted-text .inner-content p {
  width: 500px;
  color: #999999;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 500;
}
#section-trusted .content .trusted-text .inner-content .reviews {
  margin-bottom: 1rem;
}
#section-trusted .content .trusted-text .inner-content span {
  font-size: 0.9rem;
  color: black;
}
#section-trusted .content .trusted-text .inner-content span:last-child {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  font-style: italic;
}
#section-trusted .content img {
  width: 50%;
  height: 100%;
}

#section-employees {
  margin-top: 7rem;
  margin-bottom: 4rem;
}
#section-employees .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section-employees .container .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section-employees .container .text h5 {
  color: #D9C3A9;
  font-weight: 500;
  font-size: 1rem;
}
#section-employees .container .text h2 {
  font-weight: 700;
  color: #4F5955;
  width: 460px;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
#section-employees .container .employees1 {
  display: flex;
  gap: 2rem;
}
#section-employees .container .employees1 div {
  display: flex;
  flex-direction: column;
  border: solid 1px #EAEAEA;
  text-indent: 30px;
}
#section-employees .container .employees1 div span {
  color: #4F5955;
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 1rem;
}
#section-employees .container .employees1 div p {
  color: #9C9EA6;
}
#section-employees .container .employees2 {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}
#section-employees .container .employees2 div {
  display: flex;
  flex-direction: column;
  border: solid 1px #EAEAEA;
  text-indent: 30px;
}
#section-employees .container .employees2 div span {
  color: #4F5955;
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 1rem;
}
#section-employees .container .employees2 div p {
  color: #9C9EA6;
}

.section-yourProject {
  background-color: #F7F7F7;
  padding-top: 3rem;
}
.section-yourProject .content {
  display: flex;
  justify-content: space-evenly;
}
.section-yourProject .content .your-project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-yourProject .content .your-project-text h2 {
  color: #4F5955;
  font-weight: 700;
  font-size: 2.5rem;
  width: 400px;
  margin-bottom: 2rem;
}
.section-yourProject .content .your-project-text div {
  display: flex;
  align-items: center;
}
.section-yourProject .content .your-project-text div .text-holder {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
}
.section-yourProject .content .your-project-text div .text-holder span {
  font-weight: 700;
  font-size: 1.1rem;
}
.section-yourProject .content .your-project-text div .icon-holder {
  height: 90%;
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.section-yourProject .content .your-project-text div .icon-holder i {
  color: #D9C3A9;
}
