#section-annual-report {
  background-color: #F7F7F7;
  padding: 3rem 0rem;
}
#section-annual-report .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#section-annual-report .content h1 {
  color: #4F5955;
  font-weight: 700;
}
#section-annual-report .content .navigation-container {
  display: flex;
  gap: 0.8rem;
}
#section-annual-report .content .navigation-container a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}
#section-annual-report .content .navigation-container a:hover {
  cursor: pointer;
  text-decoration: underline;
}
#section-annual-report .content .navigation-container #arrow {
  color: black;
}
#section-annual-report .content .navigation-container p {
  font-weight: 600;
  color: #D9C3A9;
}

#annual-report .container {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
}
#annual-report .container .date-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1.5rem;
}
#annual-report .container .date-container i {
  position: relative;
  color: #9C9EA6;
  font-size: 1rem;
  top: 0px;
}
#annual-report .container .date-container span {
  padding: 0 0.5rem;
  color: #9C9EA6;
}
#annual-report .container h4 {
  color: #4F5955;
  width: 60%;
  font-weight: 700;
}
#annual-report .container img {
  margin-top: 1rem;
}
#annual-report .container div {
  display: flex;
  align-items: center;
  position: relative;
}
#annual-report .container div i {
  position: absolute;
  color: #5D8C87;
  font-size: 5px;
  top: 10px;
}
#annual-report .container div p {
  padding: 0 1rem;
}
