#section-our-projects {
  background-color: #F7F7F7;
  padding: 3rem 0rem;
}
#section-our-projects .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#section-our-projects .content h1 {
  color: #4F5955;
  font-weight: 700;
}
#section-our-projects .content .navigation-container {
  display: flex;
  gap: 0.8rem;
}
#section-our-projects .content .navigation-container a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}
#section-our-projects .content .navigation-container a:hover {
  cursor: pointer;
  text-decoration: underline;
}
#section-our-projects .content .navigation-container #arrow {
  color: black;
}
#section-our-projects .content .navigation-container p {
  font-weight: 600;
  color: #D9C3A9;
}

#section-projects-list {
  margin-bottom: 7rem;
}
#section-projects-list .container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
#section-projects-list .container .project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section-projects-list .container .project-list .project {
  display: flex;
  gap: 2rem;
  padding: 0rem 0rem;
  align-items: center;
  padding: 1rem 0;
  border-bottom: #ECECEC 1px solid;
}
#section-projects-list .container .project-list .project:nth-child(4) {
  border: none;
}
#section-projects-list .container .project-list .project .project-text a {
  text-decoration: none;
}
#section-projects-list .container .project-list .project .project-text a:hover {
  text-decoration: underline;
}
#section-projects-list .container .project-list .project .project-text h4 {
  color: #4F5955;
  font-weight: 600;
}
#section-projects-list .container .project-list .project .project-text .date-container {
  margin-bottom: 1.5rem;
}
#section-projects-list .container .project-list .project .project-text .date-container i {
  color: #9C9EA6;
}
#section-projects-list .container .project-list .project .project-text .date-container span {
  color: #9C9EA6;
}
#section-projects-list .container .project-list .project .project-text div {
  margin-bottom: 1.5rem;
}
#section-projects-list .container .project-list .project .project-text div i {
  color: #D9C3A9;
}
#section-projects-list .container .project-list .project .project-text div span {
  color: #9C9EA6;
}
#section-projects-list .container .project-list .project .project-text p {
  color: #535656;
  width: 380px;
}
#section-projects-list .container .project-list .project .project-text a {
  font-weight: 600;
  color: #535656;
}
#section-projects-list .container .project-list .pagination {
  display: flex;
  margin-top: 4rem;
}
#section-projects-list .container .project-list .pagination span {
  color: black;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
#section-projects-list .container .project-list .pagination span:first-child {
  color: #EAEAEA;
}
#section-projects-list .container .project-list .pagination span:nth-child(2) {
  padding: 0.5rem 1rem;
  border: solid 1px #EAEAEA;
  border-radius: 50%;
}
#section-projects-list .container .project-list .pagination span:hover {
  cursor: pointer;
  text-decoration: underline;
}
#section-projects-list .tags-list {
  display: flex;
  flex-direction: column;
  border-left: solid 1px #ECECEC;
  padding-left: 3rem;
}
#section-projects-list .tags-list h3 {
  color: #4F5955;
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 2rem;
}
#section-projects-list .tags-list div {
  display: flex;
  gap: 1rem;
}
#section-projects-list .tags-list div p {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: solid 1px #E6E6E6;
  color: #4F5955;
}
#section-projects-list .tags-list div p:hover {
  background-color: #E6E6E6;
  cursor: pointer;
}
#section-projects-list .tags-list .email-ticket {
  margin-top: 3rem;
  background-color: #4F5955;
  padding: 2rem 2rem;
  border-radius: 4px;
  flex-direction: column;
}
#section-projects-list .tags-list .email-ticket h3 {
  color: #F2EDDC;
}
#section-projects-list .tags-list .email-ticket p {
  color: white;
}
#section-projects-list .tags-list .email-ticket .icon-mail {
  position: relative;
}
#section-projects-list .tags-list .email-ticket .icon-mail i {
  position: absolute;
  right: 10px;
  padding: 0.75rem 0rem;
}
#section-projects-list .tags-list .email-ticket .icon-mail input {
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  height: 40px;
  text-indent: 20px;
}
