<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b29d513-2c4d-4c53-bd81-98639298587f" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="7fffb3b6-e91c-4af8-8010-b4bcb37b8085">Sponors</Parent>
    <Path>/Sponors/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T12:18:18</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2fuiw0kw/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>