<?xml version="1.0" encoding="utf-8"?>
<Media Key="06816353-0ae9-46c4-95bf-f79106df31e2" Alias="Employees" Level="2">
  <Info>
    <Parent Key="5902ea15-9496-46f2-b701-d3e6f398bdb0">Statistics</Parent>
    <Path>/Statistics/Employees</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T02:48:32</CreateDate>
    <NodeName Default="Employees" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1sunpmea/img-1-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>