<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ca32012-d230-499f-9d76-b14d218c8419" Alias="Folder" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Folder</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-05T20:00:27</CreateDate>
    <NodeName Default="Folder" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>