<?xml version="1.0" encoding="utf-8"?>
<Media Key="c52b7632-3f3d-441d-9ce3-6b796dcefdb0" Alias="gray-box.svg" Level="2">
  <Info>
    <Parent Key="b3b1d794-a762-48e0-acc3-e5f37d648091">Miscellanous</Parent>
    <Path>/Miscellanous/grayBoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-06T17:31:58</CreateDate>
    <NodeName Default="gray-box.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ydfjsjzg/gray-box.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>