<?xml version="1.0" encoding="utf-8"?>
<Media Key="4441d936-5041-4afb-bf90-dc6700acf7bc" Alias="Hero Slider" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroSlider</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-03T22:13:57</CreateDate>
    <NodeName Default="Hero Slider" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>