<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4152742-5d29-4959-8dfe-9fa3ff76edb5" Alias="image-13-min 1.svg" Level="2">
  <Info>
    <Parent Key="9ca32012-d230-499f-9d76-b14d218c8419">Folder</Parent>
    <Path>/Folder/image13Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T20:00:36</CreateDate>
    <NodeName Default="image-13-min 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wcnlojrs/image-13-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>