<?xml version="1.0" encoding="utf-8"?>
<Media Key="428ae771-b21d-4ffb-aaf6-d09f31724db5" Alias="image-23-min 1.svg" Level="2">
  <Info>
    <Parent Key="9ca32012-d230-499f-9d76-b14d218c8419">Folder</Parent>
    <Path>/Folder/image23Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T20:00:36</CreateDate>
    <NodeName Default="image-23-min 1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qnncriag/image-23-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>