<?xml version="1.0" encoding="utf-8"?>
<Media Key="a498c23b-effd-4993-8701-354ccb356cb3" Alias="image-24-min 1.svg" Level="2">
  <Info>
    <Parent Key="9ca32012-d230-499f-9d76-b14d218c8419">Folder</Parent>
    <Path>/Folder/image24Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T20:00:37</CreateDate>
    <NodeName Default="image-24-min 1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zf5durxg/image-24-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>