<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef98d47b-70f4-4735-9dd2-e80c6d272654" Alias="image-106 1.svg" Level="2">
  <Info>
    <Parent Key="99ba38d4-a29c-4501-b73b-dd3bd00972d1">Team Members </Parent>
    <Path>/TeamMembers/image1061svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T16:30:31</CreateDate>
    <NodeName Default="image-106 1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rfududpp/image-106-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>