<?xml version="1.0" encoding="utf-8"?>
<Media Key="de163f76-e915-41f7-92d6-58b1c366686f" Alias="image-21-min 1.svg" Level="2">
  <Info>
    <Parent Key="9ca32012-d230-499f-9d76-b14d218c8419">Folder</Parent>
    <Path>/Folder/image21Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T20:00:36</CreateDate>
    <NodeName Default="image-21-min 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qsblipao/image-21-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>