<?xml version="1.0" encoding="utf-8"?>
<Media Key="855b4265-c046-4cdf-ac06-cd1557fffa71" Alias="image-47 1.svg" Level="2">
  <Info>
    <Parent Key="99ba38d4-a29c-4501-b73b-dd3bd00972d1">Team Members </Parent>
    <Path>/TeamMembers/image471svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T16:30:31</CreateDate>
    <NodeName Default="image-47 1.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s55psz03/image-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>