<?xml version="1.0" encoding="utf-8"?>
<Media Key="a94ef91c-a102-41ad-ba77-7ad4f2fd6686" Alias="image-18-min 1.svg" Level="2">
  <Info>
    <Parent Key="9ca32012-d230-499f-9d76-b14d218c8419">Folder</Parent>
    <Path>/Folder/image18Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T20:00:36</CreateDate>
    <NodeName Default="image-18-min 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3zcoysyz/image-18-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>