<?xml version="1.0" encoding="utf-8"?>
<Media Key="420b59c0-6f2d-4ca6-807b-c1d4c5f2151c" Alias="image-104 1.svg" Level="2">
  <Info>
    <Parent Key="99ba38d4-a29c-4501-b73b-dd3bd00972d1">Team Members </Parent>
    <Path>/TeamMembers/image1041svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T16:30:30</CreateDate>
    <NodeName Default="image-104 1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/glsktibw/image-104-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>