<?xml version="1.0" encoding="utf-8"?>
<Media Key="f68172d9-d785-4a4e-b615-81de87034c9f" Alias="Img-4-2 1.svg" Level="2">
  <Info>
    <Parent Key="99ba38d4-a29c-4501-b73b-dd3bd00972d1">Team Members </Parent>
    <Path>/TeamMembers/Img421svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T16:30:30</CreateDate>
    <NodeName Default="Img-4-2 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fphdgfe4/img-4-2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>