<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a8e8ca3-8f8a-4142-92d7-a981e1f472f0" Alias="img_choose_01_home01 2.svg" Level="2">
  <Info>
    <Parent Key="99ba38d4-a29c-4501-b73b-dd3bd00972d1">Team Members </Parent>
    <Path>/TeamMembers/img_choose_01_home012svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T16:30:30</CreateDate>
    <NodeName Default="img_choose_01_home01 2.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/keydzcer/img_choose_01_home01-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>