<?xml version="1.0" encoding="utf-8"?>
<Media Key="f9fd18c4-bb77-4faf-993c-841fde2037e2" Alias="img_choose_01_home01 1.svg" Level="2">
  <Info>
    <Parent Key="99ba38d4-a29c-4501-b73b-dd3bd00972d1">Team Members </Parent>
    <Path>/TeamMembers/img_choose_01_home011svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T16:30:45</CreateDate>
    <NodeName Default="img_choose_01_home01 1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g0sf4g1m/img_choose_01_home01-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>