<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7f65897-edb6-44f8-b5c8-f8b25322dc28" Alias="Kevin-Gardner 1.svg" Level="2">
  <Info>
    <Parent Key="99ba38d4-a29c-4501-b73b-dd3bd00972d1">Team Members </Parent>
    <Path>/TeamMembers/KevinGardner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T16:30:30</CreateDate>
    <NodeName Default="Kevin-Gardner 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mxsfifnn/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>