<?xml version="1.0" encoding="utf-8"?>
<Media Key="c28ddf4a-db3a-46dd-b2c4-95a4bcc248b5" Alias="kevin-gardner.svg" Level="2">
  <Info>
    <Parent Key="99ba38d4-a29c-4501-b73b-dd3bd00972d1">Team Members </Parent>
    <Path>/TeamMembers/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T16:59:17</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xbrc4ibb/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>