<?xml version="1.0" encoding="utf-8"?>
<Media Key="248e8cbb-f640-4f4d-ac47-43e874591c3a" Alias="logo.svg" Level="2">
  <Info>
    <Parent Key="b3b1d794-a762-48e0-acc3-e5f37d648091">Miscellanous</Parent>
    <Path>/Miscellanous/logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-06T04:14:27</CreateDate>
    <NodeName Default="logo.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jeydzrs1/brand-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>