<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fb26d98-2b77-418d-86f3-76f65a75bb84" Alias="man_woman_laugh.svg" Level="2">
  <Info>
    <Parent Key="b3b1d794-a762-48e0-acc3-e5f37d648091">Miscellanous</Parent>
    <Path>/Miscellanous/man_woman_laughsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-06T17:13:31</CreateDate>
    <NodeName Default="man_woman_laugh.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nlibbxlm/man_woman_laugh.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>