<?xml version="1.0" encoding="utf-8"?>
<Media Key="f25ad012-4e54-4153-82e5-41d5cd577638" Alias="Mask-Group-8 1.svg" Level="2">
  <Info>
    <Parent Key="99ba38d4-a29c-4501-b73b-dd3bd00972d1">Team Members </Parent>
    <Path>/TeamMembers/MaskGroup81svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T16:30:30</CreateDate>
    <NodeName Default="Mask-Group-8 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2bwpqecp/mask-group-8-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>