<?xml version="1.0" encoding="utf-8"?>
<Media Key="61e8abfa-a39f-43bb-a288-cb85b8bdc073" Alias="partner2" Level="2">
  <Info>
    <Parent Key="7fffb3b6-e91c-4af8-8010-b4bcb37b8085">Sponors</Parent>
    <Path>/Sponors/partner2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-05T12:17:55</CreateDate>
    <NodeName Default="partner2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ovql3v5w/02.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>