<?xml version="1.0" encoding="utf-8"?>
<Media Key="83c9b123-1dcb-419b-aa00-2a3ee3be6cb7" Alias="partner3" Level="2">
  <Info>
    <Parent Key="7fffb3b6-e91c-4af8-8010-b4bcb37b8085">Sponors</Parent>
    <Path>/Sponors/partner3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-05T12:18:06</CreateDate>
    <NodeName Default="partner3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/vr3j4nnc/03.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>