<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f6fa480-d342-4395-9809-cc82d566da69" Alias="partner1" Level="2">
  <Info>
    <Parent Key="7fffb3b6-e91c-4af8-8010-b4bcb37b8085">Sponors</Parent>
    <Path>/Sponors/partner1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-05T12:17:39</CreateDate>
    <NodeName Default="partner1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/b3xct0jl/01.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>