<?xml version="1.0" encoding="utf-8"?>
<Media Key="7884dbac-ff9b-4f05-aaef-f2c16bff7d59" Alias="pj1.svg" Level="2">
  <Info>
    <Parent Key="b3b1d794-a762-48e0-acc3-e5f37d648091">Miscellanous</Parent>
    <Path>/Miscellanous/pj1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-06T01:03:07</CreateDate>
    <NodeName Default="pj1.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lztcngua/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>