<?xml version="1.0" encoding="utf-8"?>
<Media Key="e05e9c3d-cd82-4ec5-8150-90c0dbf9dbc5" Alias="pj2.svg" Level="2">
  <Info>
    <Parent Key="a4eaa058-54fd-43d1-9b98-3d1447da5b3b">Projects</Parent>
    <Path>/Projects/pj2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T12:42:51</CreateDate>
    <NodeName Default="pj2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z2qpyauz/pj2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>