<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e2e011e-28d3-4237-8a46-12d1f0e8e3b2" Alias="pj4.svg" Level="2">
  <Info>
    <Parent Key="a4eaa058-54fd-43d1-9b98-3d1447da5b3b">Projects</Parent>
    <Path>/Projects/pj4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T12:42:51</CreateDate>
    <NodeName Default="pj4.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3s4iztgi/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>