<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c7fdf17-7a77-4b05-b8c6-607fce13400e" Alias="pj4.svg" Level="2">
  <Info>
    <Parent Key="b3b1d794-a762-48e0-acc3-e5f37d648091">Miscellanous</Parent>
    <Path>/Miscellanous/pj4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-06T01:03:08</CreateDate>
    <NodeName Default="pj4.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2vrn1xtm/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>