<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8bd6c31-2a3e-4fb7-a6bb-72a14d4dc328" Alias="post2 1.svg" Level="2">
  <Info>
    <Parent Key="b3b1d794-a762-48e0-acc3-e5f37d648091">Miscellanous</Parent>
    <Path>/Miscellanous/post21svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T23:11:19</CreateDate>
    <NodeName Default="post2 1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ypib4grf/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>