<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4eaa058-54fd-43d1-9b98-3d1447da5b3b" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-05T12:42:38</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>