<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a6a83e8-813e-48ca-b810-421008ac6cf5" Alias="recent-projects1" Level="2">
  <Info>
    <Parent Key="b3b1d794-a762-48e0-acc3-e5f37d648091">Miscellanous</Parent>
    <Path>/Miscellanous/recentProjects1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T03:16:28</CreateDate>
    <NodeName Default="recent-projects1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/m3edzhcx/pj1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>