<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcb43bf1-3877-4636-aa64-0a6bbcc7e668" Alias="recent-projects2" Level="2">
  <Info>
    <Parent Key="b3b1d794-a762-48e0-acc3-e5f37d648091">Miscellanous</Parent>
    <Path>/Miscellanous/recentProjects2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T03:16:39</CreateDate>
    <NodeName Default="recent-projects2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/p1ypesq4/pj2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>