<?xml version="1.0" encoding="utf-8"?>
<Media Key="42662d62-1dd2-4d48-a1be-7b044f6d3cc0" Alias="recent-projects4" Level="2">
  <Info>
    <Parent Key="b3b1d794-a762-48e0-acc3-e5f37d648091">Miscellanous</Parent>
    <Path>/Miscellanous/recentProjects4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T03:17:04</CreateDate>
    <NodeName Default="recent-projects4" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/3xtdb3f1/pj4.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>