<?xml version="1.0" encoding="utf-8"?>
<Media Key="25b514ce-3df3-4206-9b0f-2cb62331c4c9" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-04T01:18:40</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>