<?xml version="1.0" encoding="utf-8"?>
<Media Key="60403cbb-7cd3-49a6-8bd7-f837b0260f52" Alias="Service 2" Level="2">
  <Info>
    <Parent Key="25b514ce-3df3-4206-9b0f-2cb62331c4c9">Services</Parent>
    <Path>/Services/Service2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T01:20:05</CreateDate>
    <NodeName Default="Service 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/gt1anvv0/image-18-min-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>