<?xml version="1.0" encoding="utf-8"?>
<Media Key="94b8e60f-4f29-46d6-b2fc-754dceaab317" Alias="Service 4" Level="2">
  <Info>
    <Parent Key="25b514ce-3df3-4206-9b0f-2cb62331c4c9">Services</Parent>
    <Path>/Services/Service4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T01:20:30</CreateDate>
    <NodeName Default="Service 4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qawp2isa/image-22-min-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>