<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfcea431-546a-4e83-81ca-a844361ff030" Alias="Service 6" Level="2">
  <Info>
    <Parent Key="25b514ce-3df3-4206-9b0f-2cb62331c4c9">Services</Parent>
    <Path>/Services/Service6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T01:20:51</CreateDate>
    <NodeName Default="Service 6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/xzxiq4id/image-24-min-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>