<?xml version="1.0" encoding="utf-8"?>
<Media Key="59863086-e657-4f12-b885-628fa0557b63" Alias="Service 1" Level="2">
  <Info>
    <Parent Key="25b514ce-3df3-4206-9b0f-2cb62331c4c9">Services</Parent>
    <Path>/Services/Service1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T01:20:15</CreateDate>
    <NodeName Default="Service 1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/bh3mb1z4/image-21-min-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>