<?xml version="1.0" encoding="utf-8"?>
<Media Key="7fffb3b6-e91c-4af8-8010-b4bcb37b8085" Alias="Sponors" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sponors</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-05T12:17:23</CreateDate>
    <NodeName Default="Sponors" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>