<?xml version="1.0" encoding="utf-8"?>
<Media Key="5902ea15-9496-46f2-b701-d3e6f398bdb0" Alias="Statistics" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Statistics</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-04T02:47:35</CreateDate>
    <NodeName Default="Statistics" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>