<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b19c102-3db3-4ec6-9915-929114975d1d" Alias="story" Level="2">
  <Info>
    <Parent Key="b3b1d794-a762-48e0-acc3-e5f37d648091">Miscellanous</Parent>
    <Path>/Miscellanous/story</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T03:14:46</CreateDate>
    <NodeName Default="story" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ruff5ho0/video-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>