<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed1370ca-36bd-4fd6-b2ab-663e61aa90ba" Alias="table-meeting.svg" Level="2">
  <Info>
    <Parent Key="b3b1d794-a762-48e0-acc3-e5f37d648091">Miscellanous</Parent>
    <Path>/Miscellanous/tableMeetingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-06T03:07:20</CreateDate>
    <NodeName Default="table-meeting.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hdglcd3g/pj4-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>