<?xml version="1.0" encoding="utf-8"?>
<Media Key="99ba38d4-a29c-4501-b73b-dd3bd00972d1" Alias="Team Members " Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-05T16:30:16</CreateDate>
    <NodeName Default="Team Members " />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>