<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b5130d2-5617-402a-9b7c-8eeeab88acf4" Alias="woman-sitting.svg" Level="2">
  <Info>
    <Parent Key="b3b1d794-a762-48e0-acc3-e5f37d648091">Miscellanous</Parent>
    <Path>/Miscellanous/womanSittingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-06T17:03:54</CreateDate>
    <NodeName Default="woman-sitting.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ecgpg4im/img-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>