<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6763a8f-1713-48ac-a573-476bcc642177" Alias="yourProject.svg" Level="2">
  <Info>
    <Parent Key="b3b1d794-a762-48e0-acc3-e5f37d648091">Miscellanous</Parent>
    <Path>/Miscellanous/yourProjectsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-05T18:20:03</CreateDate>
    <NodeName Default="yourProject.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pwdnirai/img-5-e1695109900349-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>