@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var headerLogo = Model?.Value<IPublishedContent>("heroOnatrixLogo")?.Url() ?? "";
}	
    

<section id="section-header-top">
    <div class="container">

        <div class="header-top">
            
            <div class="header-address">
                <span>Klarabergsviadukten 90, 111 64 Stockholm</span>
            </div>

                <div class="header-socials">
                <a href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://x.com"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://linkedin.com"><i class="fa-brands fa-linkedin-in"></i></a>
            </div> 
        </div>

    </div>

</section> 

<section id="section-header-bottom">
    <div class="container">
        <div class="header-bottom">
            <div class="image-header">
                <a href="/"><img src="@headerLogo" /></a>
            </div>

            <div class="navigation-links">
                <a class="navigation-links-about" href="/about">About</a>
                <a class="navigation-links-services" href="/service">Services</a>
                <a class="navigation-links-projects" href="/our-projects">Projects</a>
                <a class="navigation-links-contact" href="/contact">Contact</a>
            </div>
            
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

        </div>
    </div>

</section>


