<?xml version="1.0" encoding="utf-8"?>
<Content Key="3edde49c-ba06-4ebb-a9d0-165c51658f70" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUsdawdawda</ContentType>
    <CreateDate>2024-10-05T15:13:35</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e74489ea-85ac-4bd7-a050-e98f60f5eda0">about</Template>
  </Info>
  <Properties>
    <aboutUsHeadline>
      <Value><![CDATA[About Us]]></Value>
    </aboutUsHeadline>
    <aboutUsNavigation>
      <Value><![CDATA[About]]></Value>
    </aboutUsNavigation>
    <employeesHeadline>
      <Value><![CDATA[A team of professionals with years of experience]]></Value>
    </employeesHeadline>
    <employeesImage1>
      <Value><![CDATA[[
  {
    "key": "ce5d9357-b000-4095-94b3-af3872ef11b1",
    "mediaKey": "855b4265-c046-4cdf-ac06-cd1557fffa71",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </employeesImage1>
    <employeesImage2>
      <Value><![CDATA[[
  {
    "key": "8ef66823-0ef5-4c0f-be10-800b8950b2e2",
    "mediaKey": "ef98d47b-70f4-4735-9dd2-e80c6d272654",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </employeesImage2>
    <employeesImage3>
      <Value><![CDATA[[
  {
    "key": "82e6d01b-0b21-48cc-a149-f35cc8f27bd6",
    "mediaKey": "420b59c0-6f2d-4ca6-807b-c1d4c5f2151c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </employeesImage3>
    <employeesImage4>
      <Value><![CDATA[[
  {
    "key": "c3908c5c-efee-4b1c-a71f-aa1cc0c09c9c",
    "mediaKey": "6a8e8ca3-8f8a-4142-92d7-a981e1f472f0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </employeesImage4>
    <employeesImage5>
      <Value><![CDATA[[
  {
    "key": "acbdd256-6dcb-48b0-bbe8-063a9926bccf",
    "mediaKey": "f25ad012-4e54-4153-82e5-41d5cd577638",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </employeesImage5>
    <employeesImage6>
      <Value><![CDATA[[
  {
    "key": "ded77264-fe07-4660-816e-0ffa5bfa052c",
    "mediaKey": "f68172d9-d785-4a4e-b615-81de87034c9f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </employeesImage6>
    <employeesImage7>
      <Value><![CDATA[[
  {
    "key": "15fe4118-363a-42e6-b0db-a4d456a5c120",
    "mediaKey": "f7f65897-edb6-44f8-b5c8-f8b25322dc28",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </employeesImage7>
    <employeesJob1>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </employeesJob1>
    <employeesJob2>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </employeesJob2>
    <employeesJob3>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </employeesJob3>
    <employeesJob4>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </employeesJob4>
    <employeesJob5>
      <Value><![CDATA[ CFO & Co-Founderat Onatrix]]></Value>
    </employeesJob5>
    <employeesJob6>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </employeesJob6>
    <employeesJob7>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </employeesJob7>
    <employeesName1>
      <Value><![CDATA[Brandon Newton]]></Value>
    </employeesName1>
    <employeesName2>
      <Value><![CDATA[AJ Carter]]></Value>
    </employeesName2>
    <employeesName3>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </employeesName3>
    <employeesName4>
      <Value><![CDATA[Tina Fox]]></Value>
    </employeesName4>
    <employeesName5>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </employeesName5>
    <employeesName6>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </employeesName6>
    <employeesName7>
      <Value><![CDATA[Kevin Gardner ]]></Value>
    </employeesName7>
    <employeesTitle>
      <Value><![CDATA[OUR EXPERT]]></Value>
    </employeesTitle>
    <heroOnatrixLogo>
      <Value><![CDATA[[
  {
    "key": "3a0dbe07-3765-4224-b751-0ee47b1367e9",
    "mediaKey": "248e8cbb-f640-4f4d-ac47-43e874591c3a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroOnatrixLogo>
    <pageTitle>
      <Value><![CDATA[About]]></Value>
    </pageTitle>
    <summeryImage>
      <Value><![CDATA[[
  {
    "key": "fe3eaf3a-dc60-4ad3-a72b-5a652e16b822",
    "mediaKey": "f9fd18c4-bb77-4faf-993c-841fde2037e2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </summeryImage>
    <summeryQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </summeryQuote>
    <summeryText1>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.]]></Value>
    </summeryText1>
    <summeryText2>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.]]></Value>
    </summeryText2>
    <summeryText3>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </summeryText3>
    <summeryText4>
      <Value><![CDATA[Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.]]></Value>
    </summeryText4>
    <summeryText5>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.]]></Value>
    </summeryText5>
    <summeryText6>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </summeryText6>
    <summeryText7>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </summeryText7>
    <summeryWriter>
      <Value><![CDATA[Tina Fox - CEO & Founder at Onatrix]]></Value>
    </summeryWriter>
    <trustedHeadline>
      <Value><![CDATA[Trusted by some Biggest Names]]></Value>
    </trustedHeadline>
    <trustedImage>
      <Value><![CDATA[[
  {
    "key": "67f9467a-9911-47c9-9123-9a442910fba6",
    "mediaKey": "c28ddf4a-db3a-46dd-b2c4-95a4bcc248b5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </trustedImage>
    <trustedSource>
      <Value><![CDATA[Swebank]]></Value>
    </trustedSource>
    <trustedText>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </trustedText>
    <trustedTitle>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </trustedTitle>
    <trustedWriter>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </trustedWriter>
    <yourProjectEmailEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </yourProjectEmailEmailAddress>
    <yourProjectEmailHeadline>
      <Value><![CDATA[E-mail address]]></Value>
    </yourProjectEmailHeadline>
    <yourProjectHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </yourProjectHeadline>
    <yourProjectImage>
      <Value><![CDATA[[
  {
    "key": "5e3c45dd-2b84-453f-8241-5bd10c6fafab",
    "mediaKey": "a6763a8f-1713-48ac-a573-476bcc642177",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </yourProjectImage>
    <yourProjectLocationAddress>
      <Value><![CDATA[Klarabergsviadukten]]></Value>
    </yourProjectLocationAddress>
    <yourProjectLocationHeadline>
      <Value><![CDATA[Office location]]></Value>
    </yourProjectLocationHeadline>
    <yourProjectPhoneNumberHeadline>
      <Value><![CDATA[Phone number]]></Value>
    </yourProjectPhoneNumberHeadline>
    <yourProjectPhoneNumberNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </yourProjectPhoneNumberNumber>
  </Properties>
</Content>