<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf6a63c9-b6fb-41ef-999d-dd3dd96b2654" Alias="Contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsPagedawdawawdadw</ContentType>
    <CreateDate>2024-10-05T20:54:22</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bff24b65-ba09-4501-b66d-9bb1ed846cc5">contactUsPage</Template>
  </Info>
  <Properties>
    <callBackFormHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </callBackFormHeadline>
    <callBackFormText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </callBackFormText>
    <callBackFormTitle>
      <Value><![CDATA[REQUEST A CALL BACK]]></Value>
    </callBackFormTitle>
    <contactUsHeadline>
      <Value><![CDATA[Contact Us]]></Value>
    </contactUsHeadline>
    <contactUsNavigation>
      <Value><![CDATA[Contact]]></Value>
    </contactUsNavigation>
    <heroOnatrixLogo>
      <Value><![CDATA[[
  {
    "key": "a11c5be1-0336-40cb-b3de-db845f98cf55",
    "mediaKey": "248e8cbb-f640-4f4d-ac47-43e874591c3a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroOnatrixLogo>
    <pageTitle>
      <Value><![CDATA[Contact]]></Value>
    </pageTitle>
    <sponsor1>
      <Value><![CDATA[[
  {
    "key": "08587861-b7f7-40ff-b156-6f0839c95700",
    "mediaKey": "5f6fa480-d342-4395-9809-cc82d566da69",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sponsor1>
    <sponsor2>
      <Value><![CDATA[[
  {
    "key": "83d98180-9f5e-4b3f-ac82-9f2371e6f0f8",
    "mediaKey": "61e8abfa-a39f-43bb-a288-cb85b8bdc073",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sponsor2>
    <sponsor3>
      <Value><![CDATA[[
  {
    "key": "f96f4027-6d6a-4e3f-890d-8a22610bb936",
    "mediaKey": "83c9b123-1dcb-419b-aa00-2a3ee3be6cb7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sponsor3>
    <sponsor4>
      <Value><![CDATA[[
  {
    "key": "de045599-fde0-4a72-bbaa-670cf6032ca5",
    "mediaKey": "42fdd379-f0ef-4dd2-b3dc-044d8ab3e42f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sponsor4>
    <sponsor5>
      <Value><![CDATA[[
  {
    "key": "b5af955e-c987-4eab-888c-299cf4aa291d",
    "mediaKey": "ac7c542d-95b4-4299-8923-f05b7539e998",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sponsor5>
    <sponsor6>
      <Value><![CDATA[[
  {
    "key": "e054dc26-23d1-43ca-a08f-857e16ee16f1",
    "mediaKey": "8b29d513-2c4d-4c53-bd81-98639298587f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sponsor6>
    <yourProjectEmailEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </yourProjectEmailEmailAddress>
    <yourProjectEmailHeadline>
      <Value><![CDATA[E-mail address]]></Value>
    </yourProjectEmailHeadline>
    <yourProjectHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </yourProjectHeadline>
    <yourProjectImage>
      <Value><![CDATA[[
  {
    "key": "79aa06df-f9a7-4c20-a28b-cacbb3e09cf0",
    "mediaKey": "a6763a8f-1713-48ac-a573-476bcc642177",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </yourProjectImage>
    <yourProjectLocationAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </yourProjectLocationAddress>
    <yourProjectLocationHeadline>
      <Value><![CDATA[Office location]]></Value>
    </yourProjectLocationHeadline>
    <yourProjectPhoneNumberHeadline>
      <Value><![CDATA[Phone number]]></Value>
    </yourProjectPhoneNumberHeadline>
    <yourProjectPhoneNumberNumber>
      <Value><![CDATA[+46 8 123 456 75a]]></Value>
    </yourProjectPhoneNumberNumber>
  </Properties>
</Content>