<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b4ce131-16b2-470c-80fb-e88f0a41dec0" Alias="Official Website - Homes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OfficialWebsiteHomes</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-10-03T22:38:40</CreateDate>
    <NodeName Default="Official Website - Homes" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="402f9a57-dc71-48af-a791-83981bbf716e">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[Tina Fox -]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "100bbd59-5071-4a4c-ae61-c99846a19af9",
    "mediaKey": "7c6cca80-488e-439b-9938-3982b2d299bf",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <formButton>
      <Value><![CDATA[Submit]]></Value>
    </formButton>
    <formButtonUrl>
      <Value><![CDATA[/submit]]></Value>
    </formButtonUrl>
    <formHeadline>
      <Value><![CDATA[Request a call back]]></Value>
    </formHeadline>
    <formText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat]]></Value>
    </formText>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "518d7513-a407-4b3a-9471-cccd8458790b",
    "mediaKey": "1c123653-17f4-421c-8fdc-42bb7f406bc1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroOnatrixLogo>
      <Value><![CDATA[[
  {
    "key": "c971c986-8ce8-44c0-96cc-af2b127ea24f",
    "mediaKey": "248e8cbb-f640-4f4d-ac47-43e874591c3a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroOnatrixLogo>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <number1>
      <Value><![CDATA[689]]></Value>
    </number1>
    <number2>
      <Value><![CDATA[370]]></Value>
    </number2>
    <number3>
      <Value><![CDATA[125]]></Value>
    </number3>
    <numberText1>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </numberText1>
    <numberText2>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </numberText2>
    <numberText3>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </numberText3>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <projectsBoxCategory1>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsBoxCategory1>
    <projectsBoxCategory2>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsBoxCategory2>
    <projectsBoxCategory3>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsBoxCategory3>
    <projectsBoxCategory4>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsBoxCategory4>
    <projectsBoxImage1>
      <Value><![CDATA[[
  {
    "key": "e6317e74-54bf-4a79-a12d-f10d94306694",
    "mediaKey": "46c5f89f-898e-45f5-b8db-c82d12b9394b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsBoxImage1>
    <projectsBoxImage2>
      <Value><![CDATA[[
  {
    "key": "50c71ad7-12f6-4028-84f1-0f797b3a0e71",
    "mediaKey": "e05e9c3d-cd82-4ec5-8150-90c0dbf9dbc5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsBoxImage2>
    <projectsBoxImage3>
      <Value><![CDATA[[
  {
    "key": "8a194b03-0f34-4891-be7b-3253f610cf0b",
    "mediaKey": "a812d28b-ef46-4a87-8a11-9575b1697e5e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsBoxImage3>
    <projectsBoxImage4>
      <Value><![CDATA[[
  {
    "key": "b06debb9-e94f-4279-b059-d6f984dafc5f",
    "mediaKey": "2e2e011e-28d3-4237-8a46-12d1f0e8e3b2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsBoxImage4>
    <projectsBoxTitle1>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </projectsBoxTitle1>
    <projectsBoxTitle2>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </projectsBoxTitle2>
    <projectsBoxTitle3>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </projectsBoxTitle3>
    <projectsBoxTitle4>
      <Value><![CDATA[Budget Planning for Buccura Inc. ]]></Value>
    </projectsBoxTitle4>
    <projectsHeadline>
      <Value><![CDATA[Recent projects]]></Value>
    </projectsHeadline>
    <projectsTitle>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </projectsTitle>
    <serviceImage1>
      <Value><![CDATA[[
  {
    "key": "576f80e8-ddd3-477e-815d-a557fabc77ad",
    "mediaKey": "59863086-e657-4f12-b885-628fa0557b63",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceImage1>
    <serviceImage2>
      <Value><![CDATA[[
  {
    "key": "54afff46-d1e8-4006-8f04-3792482a6ef3",
    "mediaKey": "60403cbb-7cd3-49a6-8bd7-f837b0260f52",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceImage2>
    <serviceImage3>
      <Value><![CDATA[[
  {
    "key": "44f81f4e-b8af-4088-a7cd-9fa8e828bcc6",
    "mediaKey": "8872aa83-f0cb-4b60-8b92-8d5a3316a817",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceImage3>
    <serviceImage4>
      <Value><![CDATA[[
  {
    "key": "35cef118-fc51-4b0f-9695-7c4d88eefe68",
    "mediaKey": "94b8e60f-4f29-46d6-b2fc-754dceaab317",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceImage4>
    <serviceImage5>
      <Value><![CDATA[[
  {
    "key": "fa21ee1b-8290-4684-8d8d-57a9c5a864fb",
    "mediaKey": "5b36b621-d001-4d19-98dd-eafa43fc1716",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceImage5>
    <serviceImage6>
      <Value><![CDATA[[
  {
    "key": "2ecb5280-abf1-4bb5-9fe1-ccdc43cef5fa",
    "mediaKey": "cfcea431-546a-4e83-81ca-a844361ff030",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceImage6>
    <servicesHeadline>
      <Value><![CDATA[We Provide The Solutions  To Grow Your Business Faster]]></Value>
    </servicesHeadline>
    <servicesTitle>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </servicesTitle>
    <serviceText1>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceText1>
    <serviceText2>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceText2>
    <serviceText3>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceText3>
    <serviceText4>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceText4>
    <serviceText5>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceText5>
    <serviceText6>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceText6>
    <serviceTitle1>
      <Value><![CDATA[Risk Management]]></Value>
    </serviceTitle1>
    <serviceTitle2>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </serviceTitle2>
    <serviceTitle3>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </serviceTitle3>
    <serviceTitle4>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </serviceTitle4>
    <serviceTitle5>
      <Value><![CDATA[Financial Advisor]]></Value>
    </serviceTitle5>
    <serviceTitle6>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </serviceTitle6>
    <sponor4>
      <Value><![CDATA[[
  {
    "key": "48970234-c449-4af6-bc2a-67ea71766559",
    "mediaKey": "42fdd379-f0ef-4dd2-b3dc-044d8ab3e42f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sponor4>
    <sponsor1>
      <Value><![CDATA[[
  {
    "key": "7fdf53d8-744f-4c50-97f9-08fb52afe1ee",
    "mediaKey": "5f6fa480-d342-4395-9809-cc82d566da69",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sponsor1>
    <sponsor2>
      <Value><![CDATA[[
  {
    "key": "30f3a993-e868-48f5-9c91-d8e77c5a9cb2",
    "mediaKey": "61e8abfa-a39f-43bb-a288-cb85b8bdc073",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sponsor2>
    <sponsor3>
      <Value><![CDATA[[
  {
    "key": "775f34e7-fc70-4d57-9c82-5d2adb8a3531",
    "mediaKey": "83c9b123-1dcb-419b-aa00-2a3ee3be6cb7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sponsor3>
    <sponsor5>
      <Value><![CDATA[[
  {
    "key": "4b2485fd-02e5-413e-a0c8-8c011e748893",
    "mediaKey": "ac7c542d-95b4-4299-8923-f05b7539e998",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sponsor5>
    <sponsor6>
      <Value><![CDATA[[
  {
    "key": "75f8414b-ad22-4429-95ea-70c47689c222",
    "mediaKey": "8b29d513-2c4d-4c53-bd81-98639298587f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sponsor6>
    <statisticsAmount>
      <Value><![CDATA[4.000+ clients]]></Value>
    </statisticsAmount>
    <statisticsButton>
      <Value><![CDATA[Read our story]]></Value>
    </statisticsButton>
    <statisticsHeadline>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </statisticsHeadline>
    <statisticsImage>
      <Value><![CDATA[[
  {
    "key": "87093c6f-bef2-4600-810c-368b5094ff2f",
    "mediaKey": "06816353-0ae9-46c4-95bf-f79106df31e2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </statisticsImage>
    <statisticsText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </statisticsText>
    <storyImage>
      <Value><![CDATA[[
  {
    "key": "281c0afd-84ce-471a-9ed4-1e30cc9ba9f9",
    "mediaKey": "2b19c102-3db3-4ec6-9915-929114975d1d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyImage>
    <storyTitle1>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </storyTitle1>
    <storyTitle2>
      <Value><![CDATA[Success story]]></Value>
    </storyTitle2>
  </Properties>
</Content>