<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7f9f51f-ad37-401e-80e0-488fd8565164" Alias="Our Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OurProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>ourProjects</ContentType>
    <CreateDate>2024-10-06T00:37:49</CreateDate>
    <NodeName Default="Our Projects" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="730da3c0-e684-46e5-be52-ad057a932130">ourProjects</Template>
  </Info>
  <Properties>
    <emailTicketText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </emailTicketText>
    <emailTicketTitle>
      <Value><![CDATA[How can we help you?]]></Value>
    </emailTicketTitle>
    <heroOnatrixLogo>
      <Value><![CDATA[[
  {
    "key": "bb1e6255-4010-4a75-aedb-8064f5a614e7",
    "mediaKey": "248e8cbb-f640-4f4d-ac47-43e874591c3a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroOnatrixLogo>
    <ourProjectsHeadline>
      <Value><![CDATA[Our Projects]]></Value>
    </ourProjectsHeadline>
    <ourProjectsProjects>
      <Value><![CDATA[Projects]]></Value>
    </ourProjectsProjects>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
    <projectDate1>
      <Value><![CDATA[June 15, 2024]]></Value>
    </projectDate1>
    <projectDate2>
      <Value><![CDATA[May 17, 2024]]></Value>
    </projectDate2>
    <projectDate3>
      <Value><![CDATA[February 6, 2024]]></Value>
    </projectDate3>
    <projectDate4>
      <Value><![CDATA[January 3, 2024]]></Value>
    </projectDate4>
    <projectHeadline1>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </projectHeadline1>
    <projectHeadline2>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </projectHeadline2>
    <projectHeadline3>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </projectHeadline3>
    <projectHeadline4>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </projectHeadline4>
    <projectImage1>
      <Value><![CDATA[[
  {
    "key": "bd6d33f6-7d66-4705-860d-909a850a86ed",
    "mediaKey": "7884dbac-ff9b-4f05-aaef-f2c16bff7d59",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectImage1>
    <projectImage2>
      <Value><![CDATA[[
  {
    "key": "2e209d32-e27f-48de-a2df-ad86a175e2ec",
    "mediaKey": "020490e5-8c06-4e19-8ec4-af75dabf55cd",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectImage2>
    <projectImage3>
      <Value><![CDATA[[
  {
    "key": "a38c71e4-af47-4ccb-a5cf-73615d4b2eb1",
    "mediaKey": "c744b975-d176-48bc-92f1-e25ce8738cb8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectImage3>
    <projectImage4>
      <Value><![CDATA[[
  {
    "key": "12cd7eb2-d027-483f-9313-189b52057c5d",
    "mediaKey": "3c7fdf17-7a77-4b05-b8c6-607fce13400e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectImage4>
    <projectTagsTagApp>
      <Value><![CDATA[App]]></Value>
    </projectTagsTagApp>
    <projectTagsTagBuisnesPlans>
      <Value><![CDATA[Business plans]]></Value>
    </projectTagsTagBuisnesPlans>
    <projectTagsTagBusiness>
      <Value><![CDATA[Business]]></Value>
    </projectTagsTagBusiness>
    <projectTagsTagFinance>
      <Value><![CDATA[Finance]]></Value>
    </projectTagsTagFinance>
    <projectTagsTagInsights>
      <Value><![CDATA[Insights]]></Value>
    </projectTagsTagInsights>
    <projectTagsTagPricing>
      <Value><![CDATA[Pricing]]></Value>
    </projectTagsTagPricing>
    <projectTagsTagProject>
      <Value><![CDATA[Project]]></Value>
    </projectTagsTagProject>
    <projectTagsTagReport>
      <Value><![CDATA[Report]]></Value>
    </projectTagsTagReport>
    <projectTagsTitle>
      <Value><![CDATA[Tags]]></Value>
    </projectTagsTitle>
    <projectText1>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectText1>
    <projectText2>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectText2>
    <projectText3>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectText3>
    <projectText4>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectText4>
    <yourProjectEmailEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </yourProjectEmailEmailAddress>
    <yourProjectEmailHeadline>
      <Value><![CDATA[E-mail address]]></Value>
    </yourProjectEmailHeadline>
    <yourProjectHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </yourProjectHeadline>
    <yourProjectImage>
      <Value><![CDATA[[
  {
    "key": "7d9259fe-5c8c-4713-a7a0-0e446441997c",
    "mediaKey": "a6763a8f-1713-48ac-a573-476bcc642177",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </yourProjectImage>
    <yourProjectLocationAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </yourProjectLocationAddress>
    <yourProjectLocationHeadline>
      <Value><![CDATA[Office location]]></Value>
    </yourProjectLocationHeadline>
    <yourProjectPhoneNumberHeadline>
      <Value><![CDATA[Phone number]]></Value>
    </yourProjectPhoneNumberHeadline>
    <yourProjectPhoneNumberNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </yourProjectPhoneNumberNumber>
  </Properties>
</Content>