<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9e9113d-56c0-42a9-8648-dc712363a516" Alias="Service" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Service</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2024-10-05T19:49:57</CreateDate>
    <NodeName Default="Service" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6cd37e33-64f2-4f9f-a93f-aaca3eac7126">servicesPage</Template>
  </Info>
  <Properties>
    <heroOnatrixLogo>
      <Value><![CDATA[[
  {
    "key": "bd32332e-4cd7-4c05-bd76-e3ee1747b9e9",
    "mediaKey": "248e8cbb-f640-4f4d-ac47-43e874591c3a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroOnatrixLogo>
    <pageTitle>
      <Value><![CDATA[Service]]></Value>
    </pageTitle>
    <servicesHeadline>
      <Value><![CDATA[Our Services]]></Value>
    </servicesHeadline>
    <servicesNavigation>
      <Value><![CDATA[Services]]></Value>
    </servicesNavigation>
    <solutionsHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </solutionsHeadline>
    <solutionsImage1>
      <Value><![CDATA[[
  {
    "key": "63f62184-7d9f-46bd-a751-71bdc3811f46",
    "mediaKey": "c4152742-5d29-4959-8dfe-9fa3ff76edb5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </solutionsImage1>
    <solutionsImage2>
      <Value><![CDATA[[
  {
    "key": "39700ee7-7c1a-4108-b283-0deccbedb0ad",
    "mediaKey": "a94ef91c-a102-41ad-ba77-7ad4f2fd6686",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </solutionsImage2>
    <solutionsImage3>
      <Value><![CDATA[[
  {
    "key": "7ba2e871-ca6e-4281-a436-0f25139b3dad",
    "mediaKey": "de163f76-e915-41f7-92d6-58b1c366686f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </solutionsImage3>
    <solutionsImage4>
      <Value><![CDATA[[
  {
    "key": "fba16eb8-56fc-45cc-850d-798d457fb0b3",
    "mediaKey": "eb813b23-55c3-4a5e-b939-4dae5772cb51",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </solutionsImage4>
    <solutionsImage5>
      <Value><![CDATA[[
  {
    "key": "eb839a11-7642-4ddc-ac75-a76de1fbac64",
    "mediaKey": "428ae771-b21d-4ffb-aaf6-d09f31724db5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </solutionsImage5>
    <solutionsImage6>
      <Value><![CDATA[[
  {
    "key": "27825860-9f78-4404-aa31-279b14250538",
    "mediaKey": "a498c23b-effd-4993-8701-354ccb356cb3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </solutionsImage6>
    <solutionsText1>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </solutionsText1>
    <solutionsText2>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </solutionsText2>
    <solutionsText3>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </solutionsText3>
    <solutionsText4>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </solutionsText4>
    <solutionsText5>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </solutionsText5>
    <solutionsText6>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </solutionsText6>
    <solutionsTitle1>
      <Value><![CDATA[Risk Management]]></Value>
    </solutionsTitle1>
    <solutionsTitle2>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </solutionsTitle2>
    <solutionsTitle3>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </solutionsTitle3>
    <solutionsTitle4>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </solutionsTitle4>
    <solutionsTitle5>
      <Value><![CDATA[Financial Advisor]]></Value>
    </solutionsTitle5>
    <solutionsTitle6>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </solutionsTitle6>
    <yourProjectEmailEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </yourProjectEmailEmailAddress>
    <yourProjectEmailHeadline>
      <Value><![CDATA[E-mail address]]></Value>
    </yourProjectEmailHeadline>
    <yourProjectHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </yourProjectHeadline>
    <yourProjectImage>
      <Value><![CDATA[[
  {
    "key": "4f3cd405-b3f3-43a2-af7d-8ec696ba1cf8",
    "mediaKey": "a6763a8f-1713-48ac-a573-476bcc642177",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </yourProjectImage>
    <yourProjectLocationAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </yourProjectLocationAddress>
    <yourProjectLocationHeadline>
      <Value><![CDATA[Office location]]></Value>
    </yourProjectLocationHeadline>
    <yourProjectPhoneNumberHeadline>
      <Value><![CDATA[Phone number]]></Value>
    </yourProjectPhoneNumberHeadline>
    <yourProjectPhoneNumberNumber>
      <Value><![CDATA[+46 8 123 456 75a]]></Value>
    </yourProjectPhoneNumberNumber>
  </Properties>
</Content>